@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-shadow-logo {
  filter: drop-shadow(5px 5px 12px white);
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
